:root {

    --w-light: 200;

    /* padding */
    --p-med: 2vw;

    /* sidebar */
    // --sidebar-width: 20vw;
    --sidebar-width: 260px;

    /* colors */
    --main-accent: #00ff00;
    // --main-accent: #00ffff;
    --secondary-accent: rgb(0,40,10);
    --dark-gray: #444;

    // borders

    --border: 1px solid #444;
}

.bg-black {
    background-color: #000;
}

.c-main {
    color: var(--main-accent);
}

.c-gray {
    color: #aaa;
}
.c-white {
    color: #fff;
}

$small-screen: 1160px;
