.matrix {
    grid-column: 1 / -1;
    grid-row: 2;
    background-color: #121;
    color: var(--main-accent);
    // color: #060;
    overflow: hidden;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3rem 1fr;
    p {
        grid-column: 1 / -1;
        text-align: center;
        // word-break: break-all;
        line-height: 1.125em;
        letter-spacing: .25em;
        word-spacing: -.75em;
        opacity: .75;
        animation: scrollUp 3.75s infinite linear;
        text-transform: uppercase;
        position: relative;
        top:-2em;
        cursor: move;
        // writing-mode: vertical-lr;

        // span.matrix-word:nth-child(2){
        //         transform: rotate(180deg);
        //         color: red;
        //     }

        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 35vh;
            background-color: red;
            background: linear-gradient(rgba(#121,0), rgba(#121,1) 60%);
            position: relative;
            top:-30vh;
            // animation: scrollUp 3.75s infinite linear reverse;
        }
    }

    
    .name-wrapper{
        grid-column: 2 / 3;
        grid-row: 2;
        display: grid;
        align-items: center; 
    }
    textarea {
    // h2.typer {
        display: block;
        grid-column: 2 / 3;
        grid-row: 1;
        z-index: 1;
        text-align: center;
        font-size: 15vw;
        line-height: 1.125em;
        width: 90vw;
        height: 1.25em;
        background-color: transparent;
        border: none;
        color: white !important;
        margin: 0;
        text-shadow: .05em .05em .5em black;
        position: relative;
        // top: .25em;
        // font-weight: 800;
        // display: grid;
        // align-content: center;
        // justify-content: center;
        resize: none;
        animation: none;

        ::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder {
            color: white;
        }

        &:after {
            content: "";
            display: block;
            position: relative;
            box-shadow: .125em .125em .5em black;
            // top: -1.125em;
            left: .125em;
            float: right;
            background: white;
            width: .02em;
            border-radius: 999px;
            height: 1em;
            opacity: 0;
            animation: blink 0.35s linear 1s infinite alternate;
        }

        &:focus {
            outline: none;
        }
        &:focus:after {
            animation: none;
        }
    }
}

@keyframes scrollUp {
    0% {
        transform: translateY(0rem);
    }
    100% {
        transform: translateY(-2.25rem);
        // transform: translateY(-1.125em);
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    51% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}