.matrix {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    background-color: #121;
    color: var(--main-accent);
    // color: #060;
    overflow: hidden;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    p {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        text-align: center;
        // word-break: break-all;
        line-height: 1.125em;
        letter-spacing: .25em;
        word-spacing: -.75em;
        opacity: .75;
        animation: scrollUp 3.75s infinite linear;
        // writing-mode: vertical-lr;
    }
    .name-wrapper{
        grid-column: 2 / 3;
        grid-row: 1 / -1;
        display: grid;
        align-items: center; 
    }
    h1 {
        grid-column: 2 / 3;
        grid-row: 1 / -1;
        z-index: 1;
        text-align: left;
        font-size: 20vw;
        line-height: 1.125em;
        color: white;
        margin: 0;
        text-shadow: .125em .125em .5em black;
        position: relative;
        top: .5em;
        font-weight: 800;

        &:after {
            content: "";
            display: block;
            position: relative;
            box-shadow: .125em .125em .5em black;
            top: -1.125em;
            left: .125em;
            float: right;
            background: white;
            width: .02em;
            border-radius: 999px;
            height: 1em;
            opacity: 0;
            animation: blink 0.35s linear 1s infinite alternate;
        }

        &:focus {
            outline: none;
        }
        &:focus:after {
            animation: none;
        }
    }
}

@keyframes scrollUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-2.25em);
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    51% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}