.hero {
    grid-column: 1 / -1;
    // grid-row: 1 / -1;
    grid-row: 2;
    display: grid;
    align-content: center;
    justify-content: center;

    h1 {
      margin-bottom: 0;
    }

    pre{
      counter-reset: line;
    }
    code{
        counter-increment: line;
    }
    code:before{
      content: counter(line);
      font-family: var(--mono-text-light);
      color: #444;
      padding: .5em .5em .5em 0;
      margin: 0 .5em 0 -2em;
      border-right: 2px solid var(--secondary-accent);
    } 

    code:before{
      -webkit-user-select: none;
    }
}