#sidebar {
    grid-column: 1 / 2;
    background-color: #000;
    padding-top: 3rem;
    font-family: var(--mono-heading-bold);
    // font-size: 1.25rem;
    text-transform: uppercase;
    // letter-spacing: .6em;
    position: fixed;
    width: var(--sidebar-width);
    height: 100vh;
    grid-area: sidebar;
    overflow-y: auto;
    border-right: var(--border);
}
#sidebar ul {
    list-style: none;
    padding: 0 2rem;
}

#sidebar ul ul {
    margin-bottom: 1rem;
}

#sidebar li {
    line-height: 1.25rem;
}

#sidebar li a {
    text-decoration: none;
    color: #aaa;
    /* padding: 2rem 0; */
    transition: .25s;
    display: block;
    margin-bottom: .5em;
}

#sidebar li li a {
    margin-bottom: 0;
}

#sidebar li a:hover {
   color: #fff;
   /* transform: skewX(9deg); */
   transform: skewX(-18.43deg);
}

#sidebar ul li li a:before {
    content: "▶";
    /* position: fixed; */
    // margin-left: -1.5em;
    padding-right:.5em;
    font-size: .65em;
    color: rgba(0,255,0,0);
    transition: .75s;
}
#sidebar ul li li a:hover:before {

    color: #888;
    transition: .25s;
    
}



#sidebar li ul {
    margin-left: -1rem;
    padding: 0 0rem;
    font-family: var(--mono-text-bold);
    // font-size: 1rem;
    text-transform: none;
    letter-spacing: 0;
    border-left: 2px transparent solid;
}
#sidebar li ul li{
    margin-left: 0;
}
#sidebar li ul ul {
    margin-left: 0.9rem;
    padding: 0 0.3rem;
    font-family: var(--mono-text-regular);
    text-transform: none;
    letter-spacing: 0;
}



#sidebar ul > li a.highlight {
    color: var(--main-accent);
    transition: .25s;
}

#sidebar ul li li a.highlight {
    color: #fff;
    text-shadow: none;
    font-weight: bold;
    // background-color: #222;
    // border-radius: 100px;
}

#sidebar ul li li a + ul{
    border-left: 2px transparent solid;
    transition: 1s ease;
}

#sidebar ul li li a.highlight + ul {
    border-left: 2px #444 solid;
    transition: 1s ease;
}

#sidebar ul li li li a,
#sidebar ul li li li a.highlight {
    border-left: none;
}

#sidebar ul li li li a.highlight:before {
    color: rgba(0,255,0,1);
    transition: .25s;
}

// @media print {
//     .print-only {
//         display: block;
//     }
//     body {
//         display: block;
//     }
//     // header {
//     //     display: none;
//     // }
//     #sidebar {
//         display: none;
//     }
//     #tests {
//         padding-top: 0;
//     }
// }

