:root {
    /* mono var */
    --mono-var: "Recursive Mono Var", "Recursive Mono Var Fallback", "IBM Plex Mono", monospace;
    /* mono */
    --mono-text-light: "Recursive Mono Text Light", "IBM Plex Mono", monospace;
    --mono-text-regular: "Recursive Mono Text Regular", "IBM Plex Mono", monospace;
    --mono-text-text: "Recursive Mono Text Text", "IBM Plex Mono", monospace;
    --mono-text-medium: "Recursive Mono Text Medium", "IBM Plex Mono", monospace;
    --mono-text-semibold: "Recursive Mono Text SemiBold", "IBM Plex Mono", monospace;
    --mono-text-bold: "Recursive Mono Text Bold", "IBM Plex Mono", monospace;
    --mono-text-extrabold: "Recursive Mono Text ExtraBold", "IBM Plex Mono", monospace;
    --mono-text-black: "Recursive Mono Text Black", "IBM Plex Mono", monospace;
    --mono-text-heavy: "Recursive Mono Text Heavy", "IBM Plex Mono", monospace;

    --mono-heading-light: "Recursive Mono Heading Light", "IBM Plex Mono", monospace;
    --mono-heading-regular: "Recursive Mono Heading Regular", "IBM Plex Mono", monospace;
    --mono-heading-text: "Recursive Mono Heading Text", "IBM Plex Mono", monospace;
    --mono-heading-medium: "Recursive Mono Heading Medium", "IBM Plex Mono", monospace;
    --mono-heading-semibold: "Recursive Mono Heading SemiBold", "IBM Plex Mono", monospace;
    --mono-heading-bold: "Recursive Mono Heading Bold", "IBM Plex Mono", monospace;
    --mono-heading-extrabold: "Recursive Mono Heading ExtraBold", "IBM Plex Mono", monospace;
    --mono-heading-black: "Recursive Mono Heading Black", "IBM Plex Mono", monospace;
    --mono-heading-heavy: "Recursive Mono Heading Heavy", "IBM Plex Mono", monospace;
    /* mono italic */
    --mono-text-light-italic: "Recursive Mono Text Light Italic", "IBM Plex Mono", monospace;
    --mono-text-regular-italic: "Recursive Mono Text Regular Italic", "IBM Plex Mono", monospace;
    --mono-text-medium-italic: "Recursive Mono Text Medium Italic", "IBM Plex Mono", monospace;
    --mono-text-bold-italic: "Recursive Mono Text Bold Italic", "IBM Plex Mono", monospace;
    --mono-heading-light-italic: "Recursive Mono Heading Light Italic", "IBM Plex Mono", monospace;
    --mono-heading-regular-italic: "Recursive Mono Heading Regular Italic", "IBM Plex Mono", monospace;
    --mono-heading-medium-italic: "Recursive Mono Heading Medium Italic", "IBM Plex Mono", monospace;
    --mono-heading-bold-italic: "Recursive Mono Heading Bold Italic", "IBM Plex Mono", monospace;

    /* mono var */
    --sans-var: "Recursive Sans Var", "Recursive Sans Var Fallback", "IBM Plex Sans", monospace;
    /* sans */
    --sans-text-light: "Recursive Sans Text Light", "IBM Plex Sans", sans-serif;
    --sans-text-regular: "Recursive Sans Text Regular", "IBM Plex Sans", sans-serif;
    --sans-text-text: "Recursive Sans Text Text", "IBM Plex Sans", sans-serif;
    --sans-text-medium: "Recursive Sans Text Medium", "IBM Plex Sans", sans-serif;
    --sans-text-semibold: "Recursive Sans Text SemiBold", "IBM Plex Sans", sans-serif;
    --sans-text-bold: "Recursive Sans Text Bold", "IBM Plex Sans", sans-serif;
    --sans-text-extrabold: "Recursive Sans Text ExtraBold", "IBM Plex Sans", sans-serif;
    --sans-text-black: "Recursive Sans Text Black", "IBM Plex Sans", sans-serif;
    --sans-text-heavy: "Recursive Sans Text Heavy", "IBM Plex Sans", sans-serif;

    --sans-heading-light: "Recursive Sans Heading Light", "IBM Plex Sans", sans-serif;
    --sans-heading-regular: "Recursive Sans Heading Regular", "IBM Plex Sans", sans-serif;
    --sans-heading-text: "Recursive Sans Heading Text", "IBM Plex Sans", sans-serif;
    --sans-heading-medium: "Recursive Sans Heading Medium", "IBM Plex Sans", sans-serif;
    --sans-heading-semibold: "Recursive Sans Heading SemiBold", "IBM Plex Sans", sans-serif;
    --sans-heading-bold: "Recursive Sans Heading Bold", "IBM Plex Sans", sans-serif;
    --sans-heading-extrabold: "Recursive Sans Heading ExtraBold", "IBM Plex Sans", sans-serif;
    --sans-heading-black: "Recursive Sans Heading Black", "IBM Plex Sans", sans-serif;
    --sans-heading-heavy: "Recursive Sans Heading Heavy", "IBM Plex Sans", sans-serif;
}

$wdth: mono, sans;
$opsz: heading, text;
$wght: heavy, black, extrabold, bold, semibold, medium, text, regular, light;
$ital: italic, roman;

@each $width in $wdth {
    @each $opsize in $opsz {
        @each $weight in $wght {
            @each $slope in $ital {
                @if $slope == 'italic'{
                    .#{$width}-#{$opsize}-#{$weight}-#{$slope} {
                        font-family: var(--#{$width}-#{$opsize}-#{$weight}-#{$slope});
                        font-style: italic;
                    }
                } @else {
                    .#{$width}-#{$opsize}-#{$weight} {
                        font-family: var(--#{$width}-#{$opsize}-#{$weight});
                    }
                }

            }
        }
    }
}

.mono-var {
    font-family: var(--mono-var);
}
.sans-var {
    font-family: var(--sans-var);
}

/* type styles */

.bold {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.wordbreak {
    word-break: break-all;
}

/* font weight reset until OTF files are properly style-linked */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

// type scale

.f-1 {
    font-size: 4rem;
}

.f-2 {
    font-size: 2.5rem;
    line-height: 1.5;

    @media (max-width: 850px) {
        font-size: 5vw;
    }
}

p {
    margin-bottom: .5em; 
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}