<div id="tests">
       
    {% for wdth in fonts.params.wdth %}
    <section id="{{wdth | lower}}" class="font-section {{wdth | lower}}-heading-bold">
            <div class="section-title width-section-title {{ lvlOne_title_fontStyle }}">
                <div class="section-title-wrapper width-section-title-wrapper">
                    <h2>{{ wdth }}</h2>
                </div>
            </div>
        <div>
            {% for opsz in fonts.params.opsz %}
                <div id="{{ wdth | lower}}-{{ opsz | lower }}" class="font-section {{wdth | lower}}-{{ opsz | lower }}-bold">
                    <div class="section-title {{ lvlOne_title_fontStyle }}">
                        <div class="section-title-wrapper">
                            <h3>{{ wdth }} {{opsz}}</h3>
                        </div>
                    </div>
                    <div>
                    {% for wght in fonts.params.wght %}
                        {% for ital in fonts.params.ital %}
                        {% if ital == 'Italic'%}
                        <div id="{{wdth | lower}}-{{ opsz | lower }}-{{wght | lower}}-{{ ital | lower}}" class="font-section {{wdth | lower}}-{{ opsz | lower }}-{{wght | lower}}-{{ ital | lower}}">
                        {% endif %}
                        {% if ital == ''%}
                        <div id="{{wdth | lower}}-{{ opsz | lower }}-{{wght | lower}}" class="font-section {{wdth | lower}}-{{ opsz | lower }}-{{wght | lower}}">
                        {% endif %}
                                <div class="font-title">
                                    <div class="font-title-wrapper">
                                        <h4>{{ wdth }} {{ opsz }} {{ wght }} {{ ital }}</h4>
                                    </div>
                                </div>
                                <div class="page">
                                    <p class="print-only page-label">{{ familyName }} {{ wdth }} {{ opsz }} {{ wght }} {{ ital }} - {{ versionDate }}</p>
                                    <div class="alphabet-spec">
                                        
                                        <p class="alphabet">ABCDEFGHIJKLMNOPQRSTUVWXYZ</p>
                                        <p class="alphabet">abcdefghijklmnopqrstuvwxyz</p>
                                        <p class="alphabet">0123456789</p>

                                    </div>
                                </div>
                                <div class="page">
                                    <p class="print-only page-label">{{ familyName }} {{ wdth }} {{ opsz }} {{ wght }} {{ ital }} - {{ versionDate }}</p>
                                    <div class="very-large-text">
                                        <p class="caption">
                                            <span class="screen-only">50px / 50px</span> <span class="print-only">37.5pt / 37.5pt</span>
                                        </p>
                                        <p>
                                                Recursion is a method where the solution to a problem depends... 
                                        </p>
                                    </div>
                                    <div class="large-text">
                                        <p class="caption">
                                            <span class="screen-only">30px / 37.5px</span> <span class="print-only">22.5pt / 28.125pt</span>
                                        </p>
                                        <p> 
                                            Recursion in computer science is a method where the solution to a problem depends on solutions to smaller instances of the same problem (as opposed to iteration). The approach can be applied to many types of problems, and recursion is one of the central ideas of computer science.
                                        </p>
                                    </div>
                                    <div class="small-text">
                                        <p class="caption">
                                            <span class="screen-only">16px / 24px</span> <span class="print-only">12pt / 18pt</span>
                                        </p>
                                        <p> 
                                            The power of recursion evidently lies in the possibility of defining an infinite set of objects by a finite statement. In the same manner, an infinite number of computations can be described by a finite recursive program, even if this program contains no explicit repetitions. 
                                        </p>
                                        <p> 
                                            Most computer programming languages support recursion by allowing a function to call itself within function's code. Some functional programming languages do not define any looping constructs but rely solely on recursion to repeatedly call code. Computability theory proves that these recursive-only languages are Turing complete; they are as computationally powerful as Turing complete imperative languages, meaning they can solve the same kinds of problems as imperative languages even without iterative control structures such as “while” and “for”. 
                                        </p>
                                    </div>
                                </div>
                                
                                <div class="page uppercase">
                                    <p class="print-only page-label">{{ familyName }} {{ wdth }} {{ opsz }} {{ wght }} {{ ital }} - {{ versionDate }}</p>
                                    <div class="very-large-text">
                                        <p class="caption">
                                            <span class="screen-only">50px / 50px</span> <span class="print-only">37.5pt / 37.5pt</span>
                                        </p>
                                        <p>
                                                Recursion is a method where the solution to a problem depends... 
                                        </p>
                                    </div>
                                    <div class="large-text">
                                        <p class="caption">
                                            <span class="screen-only">30px / 37.5px</span> <span class="print-only">22.5pt / 28.125pt</span>
                                        </p>
                                        <p> 
                                            Recursion in computer science is a method where the solution to a problem depends on solutions to smaller instances of the same problem (as opposed to iteration). The approach can be applied to many types of problems, and recursion is one of the central ideas of computer science.
                                        </p>
                                    </div>
                                    <div class="small-text">
                                        <p class="caption">
                                            <span class="screen-only">16px / 24px</span> <span class="print-only">12pt / 18pt</span>
                                        </p>
                                        <p> 
                                            The power of recursion evidently lies in the possibility of defining an infinite set of objects by a finite statement. In the same manner, an infinite number of computations can be described by a finite recursive program, even if this program contains no explicit repetitions. 
                                        </p>
                                        <p> 
                                            Most computer programming languages support recursion by allowing a function to call itself within function's code. Some functional programming languages do not define any looping constructs but rely solely on recursion to repeatedly call code. Computability theory proves that these recursive-only languages are Turing complete; they are as computationally powerful as Turing complete imperative languages, meaning they can solve the same kinds of problems as imperative languages even without iterative control structures such as “while” and “for”. 
                                        </p>
                                    </div>
                                </div>

                            </div>
                            
                        {% endfor %}
                    {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    {% endfor %}



</div>