<!-- this should actually probably loop through JSON (or files?) to make everything based on font names -->

{% macro test( 
    lvlOne_id, 
    lvlOne_title_fontStyle, 
    lvlOne_title, 
    lvlOne_caption_fontStyle, 
    lvlOne_caption, 
    lvlTwo_id, 
    lvlTwo_fontStyle,
    lvlTwo_title 
    ) %}
<!-- maybe instead of style and css var, this should just use a font class... -->

<section id="{{ lvlOne_id }}" class="font-section">
	<div class="section-title {{ lvlOne_title_fontStyle }}">
		<div class="section-title-wrapper">
			<h3>{{ lvlOne_title }}</h3>
			<p style="font-family:var({{ lvlOne_caption_fontStyle }});"> 
                {{ lvlOne_caption }} 
            </p>
		</div>
	</div>
	<div id="{{ lvlTwo_id }}" class="font-section {{lvlTwo_fontStyle}}">
        <div class="font-title">
            <div class="font-title-wrapper">
                <h4>{{ lvlTwo_title }}</h4>
            </div>
        </div>
		<div class="page">
			<p class="print-only">{{ lvlTwo_title }}</p>
			<p class="alphabet">ABCDEFGHILMNOPRSTUVWYZ</p>
			<p class="alphabet">abcdefghijklmnopqrstuvwxyz</p>
			<p class="alphabet">0123456789</p>
        </div>
        <div class="page">
                <p class="print-only">{{ lvlTwo_title }}</p>
                <div class="very-large-text">
                    <p class="caption">50px / 50px (37.5pt / 37.5pt)</p>
                    <p> Recursion is a method where the solution to a problem depends... </p>
                </div>
                <div class="large-text">
                    <p class="caption">30px / 37.5px (22.5pt / 28.125pt)</p>
                    <p> Recursion in computer science is a method where the solution to a problem depends on solutions to smaller instances of the same problem (as opposed to iteration). The approach can be applied to many types of problems, and recursion is one of the central ideas of computer science. </p>
                </div>
                <div class="small-text">
                    <p class="caption">16px / 24px (12pt / 18pt)</p>
                    <p> The power of recursion evidently lies in the possibility of defining an infinite set of objects by a finite statement. In the same manner, an infinite number of computations can be described by a finite recursive program, even if this program contains no explicit repetitions. </p>
                    <p></p> Most computer programming languages support recursion by allowing a function to call itself within function's code. Some functional programming languages do not define any looping constructs but rely solely on recursion to repeatedly call code. Computability theory proves that these recursive-only languages are Turing complete; they are as computationally powerful as Turing complete imperative languages, meaning they can solve the same kinds of problems as imperative languages even without iterative control structures such as “while” and “for”. </p>
                </div>
            </div>
	</div>
	
</section>

{% endmacro %}
