<div id="sidebar">
    <ul>
        <li>
            <a href="#mono-heading">Mono Heading</a>
            <ul>
                <li>
                    <a href="#mono-heading-bold">Bold</a>
                </li>
                <li>
                    <a href="#mono-heading-medium">Medium</a>
                </li>
                <li>
                    <a href="#mono-heading-regular">Regular</a>
                </li>
                <li>
                    <a href="#mono-heading-light">Light</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#mono-text">Mono Text</a>
            <ul>
                <li>
                    <a href="#mono-text-bold">Bold</a>
                </li>
                <li>
                    <a href="#mono-text-medium">Medium</a>
                </li>
                <li>
                    <a href="#mono-text-regular">Regular</a>
                </li>
                <li>
                    <a href="#mono-text-light">Light</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#mono-heading-italic">Mono Heading Italic</a>
            <ul>
                <li><a href="#mono-heading-italic-bold">Bold</a></li>
                <li><a href="#mono-heading-italic-medium">Medium</a></li>
                <li><a href="#mono-heading-italic-regular">Regular</a></li>
                <li><a href="#mono-heading-italic-light">Light</a></li>
            </ul>
        </li>
        <li>
            <a href="#sans-heading">Sans Heading</a>
            <ul>
                <li>
                    <a href="#sans-heading-bold">Bold</a>
                </li>
                <!-- <li>
                    <a href="#sans-heading-medium">Medium</a>
                </li>
                <li>
                    <a href="#sans-heading-regular">Regular</a>
                </li>
                <li>
                    <a href="#sans-heading-light">Light</a>
                </li> -->
            </ul>
        </li>
        <!-- <li>
            <a href="#sans-text">Sans Text</a>
            <ul>
                <li>
                    <a href="#sans-text-bold">Bold</a>
                </li>
                <li>
                    <a href="#sans-text-medium">Medium</a>
                </li>
                <li>
                    <a href="#sans-text-regular">Regular</a>
                </li>
                <li>
                    <a href="#sans-text-light">Light</a>
                </li>
            </ul>
        </li> -->
    </ul>
</div>