<!-- index.nunjucks -->

{% set page = "overview" %}

<!-- components -->

{% extends "default.html" %}

{% block content %}

<div class="hero mono-heading-bold bg-black c-main">
    <!-- <h1 class="f-2">
    # Recursive
    </h1>
    <h2 class=" f-2 mono-text-light c-gray">
    ## A typographic palette</br>
    ## for designers who code</br>
    ## and coders who design
    </h2> -->

    <pre >
        <code class="mono-heading-bold f-2"># Recursive</code>
        <code class=" f-2 mono-heading-light c-gray"> </code>
        <code class=" f-2 mono-heading-light c-gray">## A typographic palette</code>
        <code class=" f-2 mono-heading-light c-gray">## for designers who code</code>
        <code class=" f-2 mono-heading-light c-gray">## and coders who design</code>
    </pre>
</div>

{% endblock %}
