<!-- index.nunjucks -->
{% import "partials/font-tests.html" as fontTest %}

{% extends "default.html" %}

{% block content %}

{% include "partials/header.html" %}
  
{% include "partials/sidebar.html" %}




<div id="tests">
        <!-- <ul>
        {% for word in words %}
            <li>{{ word }}</li>
        {% endfor %}
        </ul> -->

       
        {% for family in fonts.families %}
        <p>{{ family.title }}, {{ family.id }}</p>
        <ul>
            {% for opsz in fonts.params.opsz %}
                {% for wght in fonts.params.wght %}
                    {% for ital in fonts.params.ital %}
                        <li>{{ family }} {{ opsz }} {{ wght }} {{ ital }}</li>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </ul>
        {% endfor %}


  <!-- later, use a macro to do this for each font file or name -->

    <!-- 
    lvl1_id, 
    lvl1_title_fontStyle,
    lvl1_title, 
    lvl1_caption_fontStyle,
    lvl1_caption,
    lvl2_id,
    lvl2_fontStyle,
    lvl2_title 
    -->

    {{ fontTest.test(
        'mono-heading', 
        'mono-heading-bold', 
        'Mono Heading',
        'mono-heading-regular',
        'For flavorful monospace headlines in markdown and for code snippets inside web headlines, around 16–72 px in size',
        'mono-heading-bold',
        'mono-heading-bold',
        'Recursive Mono Heading Bold'
        ) }}

    {{ fontTest.test(
        'mono-heading', 
        'mono-heading-regular', 
        'Mono Heading',
        'mono-heading-regular',
        'For flavorful monospace headlines in markdown and for code snippets inside web headlines, around 16–72 px in size',
        'mono-heading-regular',
        'mono-heading-regular',
        'Recursive Mono Heading Regular'
        ) }}

    

</div>

{% endblock %}
