{% set page = "tester" %}

{% extends "default.html" %}

{% block content %}


    <div class="matrix mono-heading-bold">
        {# how might this copy the words typed into the tester?#}
        <p class="mono-text-regular">
            {%for i in range(0, 1800)%}<span class="matrix-word">RECURSIVE</span> {% endfor %}
        </p>
        <div class="name-wrapper" >
            <input class="mono-heading-bold" type="text"  placeholder="type here" spellcheck="false"></input>
        </div>
    </div>


{% endblock %}