<!-- index.nunjucks -->

{% set page = "overview" %}

<!-- components -->

{% extends "default.html" %}

{% block content %}

<div class="hero mono-heading-bold bg-black">

    <pre>
        <code class="mono-heading-bold f-2 c-main"># Recursive</code>
        <code class=" f-2 mono-heading-regular c-gray"> </code>
        <code class=" f-2 mono-heading-regular c-gray">## A typographic palette</code>
        <code class=" f-2 mono-heading-regular c-gray">## for designers who code</code>
        <code class=" f-2 mono-heading-regular c-gray">## and coders who design</code>
    </pre>
</div>

{% endblock %}
