{% set page = "tester" %}

{% extends "default.html" %}

{% block content %}


    <div class="matrix mono-heading-bold">
        <p class="mono-var" style="font-variation-settings: 'opsz' 10, 'wght' 200">
            {%for i in range(0, 1800)%}<span class="matrix-word">RECURSIVE</span> {% endfor %}
        </p>
        <div class="name-wrapper" >
            <textarea class="typer mono-var" type="text"  placeholder="type here" spellcheck="false" style="font-variation-settings: 'opsz' 10, 'wght' 400">type here</textarea> 
            {#<!-- <h2 class="typer mono-heading-bold" contenteditable="true" spellcheck="false">type here</h2> -->#}
            
        </div>
        <!-- {#<input type="range">#} -->
    </div>


{% endblock %}