<div id="sidebar">
    <div id="mobile-nav" class="show-sm">
        {% include "partials/nav.html" %}
    </div>  
    {%if page == "spec"%}
    <ul id="specimen-nav">
        {% for wdth in fonts.params.wdth %}
            <li>
                <a href="#{{ wdth | lower}}">{{familyName}} {{ wdth }}</a>
                <ul>
                    {% for opsz in fonts.params.opsz %}
                        <li>
                            <a href="#{{ wdth | lower }}-{{opsz | lower }}">{{ opsz }}</a>
                            <ul>
                                {% for wght in fonts.params.wght %}
                                {% for ital in fonts.params.ital %}
                                <li>
                                {% if ital == 'Italic'%}
                                    <a href="#{{ wdth | lower }}-{{opsz | lower }}-{{wght | lower}}-{{ ital | lower}}">{{wght}} {{ital}}</a>   
                                {% endif %}
                                {% if ital == ''%}
                                    <a href="#{{ wdth | lower }}-{{opsz | lower }}-{{wght | lower}}">{{wght}}</a>   
                                    {% endif %}
                                </li>
                                
                                {% endfor %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    {%endif%}
    {%if page == "tester"%}
        <p>type!</p>
    {%endif%}
</div>